<!--로그인 모달-->

<div id="qmodal" class="modal" data-bs-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">자동차검사 & 정비 딜리버리 전문기업</h5>
            <button type="button" class="btn btn-light"
                    data-bs-dismiss="modal" >닫기</button>
<!--                      aria-label="Close"//시각장애인한테 글자 읽어줄수 있게 만들어주는 기능-->
          </div>

          <div class="modal-body">
                <form id="qfrm" name="qfrm" method="post">
                    {% csrf_token %}
                    <div class="text-center mb-3">
                        <label for="userid" class="col-form-label">고객님을 대상으로 서비스를 제공할 계획입니다.</label>
                    </div>
                     <div class="text-center mb-3">
                        <label for="passwd" class="col-form-label">향후 추가될 기능입니다.</label>
                    </div>
                </form>
          </div>
          <div class="modal-footer justify-content-center">
              <label>Thanks you</label>
          </div>
        </div>
      </div>
    </div>
 </div>


