{% extends 'layout/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block style %}
    <style>
        div label:first-child{font-weight: bold}
        #zip1, #zip2 { width: 75px }
        #email1, #email2 { width: 50px }
    </style>
{% endblock %}

{% block content %}
       <div id="main">
    <div class="mt-5">
        <div class="d-flex justify-content-between">
        <h2><i class="bi bi-people-fill"></i> 회원가입 </h2>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><span class="badge bg-success p-2">이용약관</span> </li>
                <li class="breadcrumb-item"><span class="badge bg-success p-2">본인확인</span> </li>
                <li class="breadcrumb-item"><span class="badge bg-success p-2">정보입력</span> </li>
                <li class="breadcrumb-item"><span class="badge bg-light text-secondary p-2">가입완료</span> </li>

            </ol>
        </nav>
        </div>
        <hr>
    </div> <!--page header-->
    <div class="px-5">
        <h3><i class="bi bi-pencil"></i> 회원정보 입력</h3>
        <small class="text-muted">회원정보는 개인정보 취급방침에 따라 안전하게 보호되며,회원님의 명백한 동의없이 공개 또는 제3자에게 제공되지 않습니다.</small>
        <hr>
    </div><!--subtitle-->
       <div class="card card-body bg-light mx-5">
            <form name="joinfrm" method="post" class="text-danger">
                {% csrf_token %}
                <h4 class="text-dark">일반 회원</h4>
                <div class="row mt-5">
                    <label for="userid" class="col-form-label col-2 text-end ">아이디</label>
                    <div class="col-3">
                        <input type="text" name="userid" id="userid" class="form-control border-danger " maxlength="18">
                        <div id="uidmsg" class="text-primary"></div>
                    </div>
                    <label class="col-form-label col-7">8~18 자의 영문 소문자, 숫자, 특수기호(_)만 사용할 수 있습니다</label>
                </div> <!-- userid -->

                <div class="row mt-3">
                    <label for="passwd" class="col-form-label col-2 text-end ">비밀번호 </label>
                    <div class="col-3">
                        <input type="password" name="passwd" id="passwd" class="form-control border-danger " maxlength="18">
                        <div>{{ check_passwd }}</div>
                    </div>
                    <label class="col-form-label col-7">8~18 자의 영문 소문자, 숫자, 특수기호(_)만 사용할 수 있습니다</label>
                </div> <!-- passwd -->

                  <div class="row mt-3">
                    <label for="repwd" class="col-form-label col-2 text-end ">비밀번호 확인</label>
                    <div class="col-3">
                        <input type="password" name="repwd" id="repwd" class="form-control border-danger " maxlength="18">
                        <div id="pwdmsg" class="text-primary"></div>
                    </div>
                    <label class="col-form-label col-7">이전 항목에서 입력했던 비밀번호를 한번더 입력하세요 </label>
                </div> <!-- repasswd -->


                  <div class="row mt-3">
                    <label for="name" class="col-form-label col-2 text-end ">이름</label>
                    <div class="col-3">
                        <input type="text" name="name" id="name" class="form-control border-danger " readonly value="{{ name }}">
                    </div>
                </div> <!-- name -->


                  <div class="row mt-3">
                    <label for="phone" class="col-form-label col-2 text-end ">전화번호</label>
                    <div class="col-3">
                        <input type="text" name="phone" id="phone" class="form-control border-danger " readonly value="{{ phone }}">
                    </div>

                </div> <!-- phone -->

                 <div class="row mt-3">
                    <label for="phone" class="col-form-label col-2 text-end ">우편번호</label>
                    <div class="col-6 d-flex flex-row">
                        <input type="text" name="zip1" id="zip1"class="form-control border-danger" readonly >
                        <span class="col-form-label">&nbsp;&dash;&nbsp;</span>
                        <input type="text" name="zip2" id="zip2"class="form-control border-danger " readonly >&nbsp;&nbsp;
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#zipmodal"><i class="bi bi-question-circle"></i>우편번호 검색</button>
                    </div>

                </div> <!-- ziprd -->

                     <div class="row mt-3">
                    <label for="addr1" class="col-form-label col-2 text-end ">주소</label>
                    <div class="col-6">
                        <input type="text" name="addr1" id="addr1" class="form-control border-danger " readonly >
                        <input type="text" name="addr2" id="addr2" class="form-control border-danger mt-2">
                    </div>
                </div> <!-- address -->

                <div class="row mt-3">
                    <label for="email1" class="col-form-label col-2 text-end ">전자우편주소</label>
                    <div class="col-7 d-flex flex-row">
                        <div class="input-group">
                            <input type="text" name="email1" id="email1" class="form-control border-danger " >
                            <span class="input-group-text border-danger">@</span>
                            <input type="text" name="email2" id="email2" class="form-control border-danger " readonly >
                        </div>
                        <select class="form-select border-danger w-auto  ms-2" id="email3" name="email3">
                            <option>선택하세요</option>
                            <option>gmail.com</option>
                            <option>hotmail.com</option>
                            <option>naver.com</option>
                            <option>kakao.com</option>
                            <option>직접입력하기</option>
                        </select>
                    </div>
                </div> <!-- email -->

                <div class="row mt-3">
                    <label class="col-form-label col-2 text-end ">메일링 서비스</label>
                    <div class="col-6 col-form-label">
                        <input type="radio" name="mailing" id="mailing1" class="form-check-input" value="yes">
                        <label for="mailing1" class="form-check-label">수신동의</label>

                        <input type="radio" name="mailing" id="mailing2" class="form-check-input ms-4" value="no">
                         <label for="mailing2" class="form-check-label">수신 미동의</label>

                    </div>
                </div> <!-- mailling -->

                <div class="row mt-3">
                    <label for="name" class="col-form-label col-2 text-end ">자동가입방지</label>
                    <div class="col-5 ">
                        <div class="g-recaptcha" data-sitekey="6LdP86YgAAAAAG104Q1QiscLGKGc1atty0eoo-uy"></div>
                        <div class="text-danger">{{ error }}</div>
                    </div>
                </div> <!-- recaptcha -->

                <div class="text-center mt-5">
                    <button type="button" class="btn btn-danger"id="nojoin"><i class="bi bi-x"></i> 입력취소</button>
                    <button type="button" class="btn btn-primary" id="okjoin"><i class="bi bi-check"></i> 입력확인</button>
                </div><!--buttons-->


                <input type="hidden" name="seq">
                <input type="hidden" name="ischecked" value="no">
                <input type="hidden" name="ismatched" value="no">


            </form>
           <img src="{% static '/imgs/네이버로그인.PNG' %}">
       </div><!--//member info-->






    <!-- 우편번호 찾기 모달 -->
    <div id="zipmodal" aria-hidden="true" class="modal"
         data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">우편번호 찾기</h3>
                    <button type="button" data-bs-dismiss="modal"
                            class="btn btn-light">닫기</button>
                </div>

                <div class="modal-body">
                    <form name="zipfrm">
                        <div class="row mt-3">
                            <div class="col-1">&nbsp;</div>
                            <div class="col-3">
                                <label for="dong" class="text-end text-danger ms-5 mt-n1">
                                    검색할 주소의 동을 입력하세요</label>
                            </div>
                            <div class="col-4">
                                <input type="text" id="dong"
                                       name="dong" class="form-control border-danger">
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-primary" id="dongbtn">
                                    <i class="bi bi-search"></i> 검색하기</button>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-9">
                                <hr class="col-11 ms-5">
                                <p class="ms-5">지역의 읍/면/동의 이름을 공백없이 입력하신 후, [검색하기] 버튼을 클릭하세요</p>
                                <select id="addrlist" name="addrlist"
                                        size="10" class="form-select ms-5 addrsize">
                                    <option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option><option>123-456 서울시 구로구 구로동 더조은아카데미</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" id="sendbtn"
                            class="btn btn-danger">
                        선택하고 닫기</button>
                </div>
            </div>
        </div>
    </div>





</div><!--main-->
{% endblock %}

{% block script %}
    <script>
        // 이메일 주소 관련코드 email2
        const email2 = document.querySelector('#email2');
        const email3 = document.querySelector('#email3');
        email3.addEventListener('change', ()=>{
            if (email3.value == '직접입력하기'){
                email2.value='';
                email2.readOnly = false;
            }

            else if (email3.value != '선택하세요'){
                email2.value = email3.value;
                email2.readOnly = true;
            }
        });

        // 비밀번호 일치 여부 관련 코드
        const passwd = document.querySelector('#passwd');
        const repwd = document.querySelector('#repwd');
        const pwdmsg = document.querySelector('#pwdmsg');

        repwd.addEventListener('blur', () => {
            let msg = '비밀번호가 일치합니다.';
            document.joinfrm.ismatched.value='yes';

            if (passwd.value != repwd.value) {
                msg = '비밀번호가 일치하지 않습니다!';
                document.joinfrm.ismatched.value = 'no';
            }
            pwdmsg.innerHTML = msg;
        });


        // 우편번호 검색 관련 코드
        const dongbtn = document.querySelector('#dongbtn');
        const sendbtn = document.querySelector('#sendbtn');
        const dong =document.querySelector('#dong');
        const addrlist=document.querySelector('#addrlist');

        //'join/zipcode?dong=동이름' 으로 조소를 조회
        dongbtn.addEventListener('click',()=> {
            let qry ='?dong=' +dong.value;
            fetch('{% url 'zipcode' %}' + qry)
                .then(response=>response.text())
                .then(text=> setZipcode(text));
        });

        const setZipcode2 =(dongs)=>{
            {#console.log(dongs);#}
            dongs =JSON.parse(dongs); //문자열을 json 객체로 변환
            {#console.log(dongs[0])#}

            //JSON객체를 반복문을 이용해서
            //주소정보를 option태그에 하나씩 결합함

            let opts ='';
            dongs.forEach((data,idx)=>{
                {#console.log(data,idx)#}
                {#console.log(data.fields);#}
                //<option>값</option>:selected => 값
                //<option value'abc'>값</option>:selected => abc
                opts += '<option>';
                opts += data.fields.ZIPCODE + '&nbsp;';
                opts += data.fields.SIDO + '&nbsp;';
                opts += data.fields.GUGUN + '&nbsp;';
                opts += data.fields.DONG + '&nbsp;';
                opts += data.fields.RI + '&nbsp;';
                opts += data.fields.BUNGI ;
                opts +='</option>';


            });
            //console.log(opts);
            //결합된 option 태그들을
            //select태그사이에 삽입함
            addrlist.innerHTML='';
            addrlist.innerHTML=opts;

        };

        const setZipcode =(dongs)=>{
            {#console.log(dongs);#}
            dongs =JSON.parse(dongs); //문자열을 json 객체로 변환
            {#console.log(dongs[0])#}

            //JSON객체를 반복문을 이용해서
            //주소정보를 option태그에 하나씩 결합함

            let opts ='';
            let vals ='';
            let seq ='';
            dongs.forEach((data,idx)=>{
                {#console.log(data,idx)#}
                {#console.log(data.fields);#}
                //<option>값</option>:selected => 값
                //<option value'abc'>값</option>:selected => abc
                vals = data.fields.ZIPCODE + '&nbsp;';
                vals += data.fields.SIDO + '&nbsp;';
                vals += data.fields.GUGUN + '&nbsp;';
                vals += data.fields.DONG + '&nbsp;';
                vals += data.fields.RI + '&nbsp;';
                vals += data.fields.BUNGI ;
                seq = '&nbsp;' + data.pk;

                opts += `<option value="${vals}${seq}">`;
                opts += vals;
                opts +='</option>';


            });
            //console.log(opts);
            //결합된 option 태그들을
            //select태그사이에 삽입함
            addrlist.innerHTML='';
            addrlist.innerHTML=opts;

        };

        //주소 목록에서 주소선택하고 검색창 닫기
        sendbtn.addEventListener('click',()=>{
            {#alert(addrlist.value);#}
            if (addrlist.value=='')
                alert('주소가 넘어오지 않았습니다.')
            else {
                //123-456| 서울 |구로구 |구로동| 블라블라 |블라
                //123-456 |서울 |경기 구로구| 구로동| 블라블라| 블라
                let addrs = addrlist.value.split(' ');
                zip1.value = addrs[0].split('-')[0];
                zip2.value = addrs[0].split('-')[1];

                {#if (addrs[2].includes('시')&& addrs[3].includes('구'))#}
                {#{#}
                {#    addr1.value = `${addrs[1]} ${addrs[2]} ${addrs[3]} ${addrs[4]}`;#}
                {#    addr2.value = `${addrs[5]} ${addrs[6]}`;#}
                {##}
                {#else #}


                    addr1.value = `${addrs[1]} ${addrs[2]} ${addrs[3]}`;
                    addr2.value = `${addrs[4]} ${addrs[5]}`;
                    document.joinfrm.seq.value = addrs[addrs.length-1];
                    alert(document.joinfrm.seq.value )



                //검색결과 지운후 모달창 닫음
                addrlist.value='';
                dong.value='';
                bootstrap.Modal.getInstance('#zipmodal').hide();

            }
        })

        // 아이디 중복검사
        const  userid = document.querySelector('#userid');
        const  uidmsg = document.querySelector('#uidmsg');
        userid.addEventListener('blur',()=>{
            let qry = '?userid=' +userid.value;
            fetch('{% url 'userid' %}'+qry)
                .then(response=>response.text())
                .then(text=>check_userid(text));
        });
        const check_userid = (result) => {
            let msg='사용가능한 아이디가 아닙니다!';
            document.joinfrm.ischecked.value='no';
            // 문자열로 넘어온 json 객체를
            // 원래의 객체로 환원하기 위해 paarse함수 사용

            {#console.log(JSON.parse(result));#}
            if(JSON.parse(result).count==0){
                document.joinfrm.ischecked.value='yes';
                msg='사용가능한 아이디가 입니다!';
            }

           uidmsg.innerHTML =msg;
        }

        // 회원정보 입력 완료 처리
        // html에서 input요소를 가져오는 방법
        // querySelector함수에 id 이름 이용
        // document.폼이름 .name이름 이용
        const okjoin =document.querySelector('#okjoin');
        okjoin.addEventListener('click',()=>{
           const frm=document.joinfrm;
           if(frm.userid.value =='') alert('아이디를 작성하세요')
           else if (frm.ischecked.value=='no') alert('아이디 중복검사를 하세요!')
           else if(frm.passwd.value =='') alert('비밀번호를 작성하세요')
           else if(frm.repwd.value =='') alert('비밀번호확인를 작성하세요')
           else if(frm.ismatched.value =='no') alert('비밀번호 일치하는지 확인하세요')
           else if(frm.zip1.value ==''||frm.zip2.value =='') alert('우푠번호를 작성하세요')
           else if(frm.addr1.value ==''||frm.addr2.value =='') alert('주소를 작성하세요')
           else if(frm.email1.value ==''||frm.email2.value =='') alert('이메일주소 작성하세요')
           else if(frm.mailing1.checked==false && frm .mailing2.checked==false) alert('메일링 수신 여부 작성하세요')
           else if(grecaptcha.getResponse()=='') alert('자동가입방지를 확인 하세요');
           else{
                frm.submit();
           }
        });

    </script>
{% endblock %}

